<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  
  <typeAliases>
  	<typeAlias type="com.tvac.entriy.User" alias="user"/>
   	<typeAlias type="com.tvac.entriy.Teacher_Apply" alias="tearcher_apply"/>
   	<typeAlias type="com.tvac.entriy.Visitor" alias="visitor"/>
   	<typeAlias type="com.tvac.entriy.Order" alias="order"/>
   	<typeAlias type="com.tvac.entriy.Device" alias="device"/>
   	<typeAlias type="com.tvac.entriy.Student" alias="student"/>
   	<typeAlias type="com.tvac.entriy.Login" alias="login"/>
   	<typeAlias type="com.tvac.entriy.Classif" alias="classif"/>
<!--  	<typeAlias type="com.tvac.entriy.Fb_Class" alias="fb_class"/>
  	<typeAlias type="com.tvac.entriy.ClassMessage" alias="classmessage"/>
  	<typeAlias type="com.tvac.entriy.Student" alias="student"/>
  	<typeAlias type="com.tvac.entriy.Parent" alias="parent"/>
  	<typeAlias type="com.tvac.entriy.Notice" alias="notice"/>
  	<typeAlias type="com.tvac.entriy.NoticeMessage" alias="noticemessage"/>
  	<typeAlias type="com.tvac.entriy.Goods" alias="goods"/>
  	<typeAlias type="com.tvac.entriy.Order" alias="order"/>
  	<typeAlias type="com.tvac.entriy.Member" alias="member"/>
  	<typeAlias type="com.tvac.entriy.Help" alias="help"/>
  	<typeAlias type="com.tvac.entriy.Device" alias="device"/>
  	<typeAlias type="com.tvac.entriy.Device_Stu" alias="device_stu"/>
  	<typeAlias type="com.tvac.entriy.Security" alias="security"/>
  	<typeAlias type="com.tvac.entriy.FamousDetails" alias="famousdetails"/>
  	<typeAlias type="com.tvac.entriy.Login" alias="login"/>
  	 -->
  </typeAliases>
  
  	 <plugins>
    <!-- com.github.pagehelper为PageHelper类所在包名 -->
    <plugin interceptor="com.github.pagehelper.PageHelper">
        <property name="dialect" value="mysql"/>
        <!-- 该参数默认为false -->
        <!-- 设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用 -->
        <!-- 和startPage中的pageNum效果一样-->
        <property name="offsetAsPageNum" value="true"/>
        <!-- 该参数默认为false -->
        <!-- 设置为true时，使用RowBounds分页会进行count查询 -->
        <property name="rowBoundsWithCount" value="true"/>
        
        <!-- 设置为true时，如果pageSize=0或者RowBounds.limit = 0就会查询出全部的结果 -->
        <!-- （相当于没有执行分页查询，但是返回结果仍然是Page类型）
        <property name="pageSizeZero" value="true"/>-->
        
        <!-- 3.3.0版本可用 - 分页参数合理化，默认false禁用 -->
        <!-- 启用合理化时，如果pageNum<1会查询第一页，如果pageNum>pages会查询最后一页 -->
        <!-- 禁用合理化时，如果pageNum<1或pageNum>pages会返回空数据 -->
        <property name="reasonable" value="true"/>
        <!-- 3.5.0版本可用 - 为了支持startPage(Object params)方法 -->
        <!-- 增加了一个`params`参数来配置参数映射，用于从Map或ServletRequest中取值 -->
        <!-- 可以配置pageNum,pageSize,count,pageSizeZero,reasonable,不配置映射的用默认值 -->
        <!-- 不理解该含义的前提下，不要随便复制该配置 
        <property name="params" value="pageNum=start;pageSize=limit;"/>    -->
    </plugin>
  </plugins>
  
  	<mappers>
		<mapper resource="mapper/user.xml"/>
 		<mapper resource="mapper/teacher_apply.xml"/>
 		<mapper resource="mapper/visitor.xml"/>
 		<mapper resource="mapper/school.xml"/>
 		<mapper resource="mapper/order.xml"/>
 		<mapper resource="mapper/device.xml"/>
 		<mapper resource="mapper/student.xml"/>
 		<mapper resource="mapper/login.xml"/>
 		<mapper resource="mapper/fb_class.xml"/>
 		<mapper resource="mapper/report.xml"/>
 		<mapper resource="mapper/jump.xml"/>
 		<mapper resource="mapper/apk.xml"/>
<!--		<mapper resource="mapper/fb_class.xml"/>
		<mapper resource="mapper/class_massage.xml"/>
		<mapper resource="mapper/student.xml"/>
		<mapper resource="mapper/parent.xml"/>
		<mapper resource="mapper/notice.xml"/>
		<mapper resource="mapper/goods.xml"/>
		<mapper resource="mapper/order.xml"/>
		<mapper resource="mapper/member.xml"/>
		<mapper resource="mapper/help.xml"/>
		<mapper resource="mapper/device.xml"/>
		<mapper resource="mapper/device_stu.xml"/>
		<mapper resource="mapper/security.xml"/>
		<mapper resource="mapper/carousel.xml"/>
		<mapper resource="mapper/famous.xml"/>
		<mapper resource="mapper/login.xml"/>
		 -->
	</mappers>
  
  </configuration>